body {
  font-family: "helvetica", sans-serif;
  text-align: center;
}

 .iconDetails {
 margin-left:2%;
float:right; 
height:500px;
width:500px; 
} 



{
  box-sizing: border-box;
}

.row{
  margin: 0 -5px;
}
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 40%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 60%;
  padding-left: 50px;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 50%;
  padding: 0 10px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
/*.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}*/

card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
